.page,
.pageTitle,
.baseCalc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.pageTitle {
    margin-bottom: 5vh;
}

.baseCalc {
    height: 580px;
    width: 480px;
    padding: 25px 20px;

    border-radius: 15px;
    box-shadow: 10px 10px 0px 0px rgba(173, 216, 230, 1);

    background-color: #71a2fe;
}

.buttons {
    display: grid;
    justify-items: center;
    align-items: center;

    width: 480px;
    height: 460px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);

    gap: 1.25rem;
}

@media (max-width: 600px) {
    .baseCalc {
        width: 80vw;
        padding: 4.1vw 3.3vw;
    }

    .buttons {
        width: 84vw;
        gap: 0.1vw;
    }
}
