.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pageTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5vh;
}

.baseCalc {
    height: 560px;
    width: 480px;
    padding: 25px 20px;

    border-radius: 15px;
    box-shadow: 10px 10px 0px 0px rgba(173, 216, 230, 1);

    background-color: #71a2fe;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.lineButtons {
    display: flex;
    justify-content: space-between;
}

.numberButtonsContainer {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(5, 1fr);
    gap: 1.5rem;
}
